<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title><%= title %></title>
    <link rel="stylesheet" href="/javascripts/lib/jquery.mobile-1.0/jquery.mobile-1.0.min.css" />    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div data-role="page">
    <div data-role="header"><h1><%= title %></h1>
      <nav>
        <ul>
          <% if (authenticated) { %>
            <li><a data-role="button" href="/ask-for-cash">Ask for Cash</a></li>
            <li><a data-role="button" href="/recent">Recent Activity</a></li>


          <% } else { %>
            <li><a data-role="button" href="/about">About</a></li>
            <li><button class="bid">Sign In</button></li>
          <% } %>
        </ul>
      </nav>
    </div><!-- data-role=header -->
    <div id="content" data-role="content">
      <%- body %>
    </div><!--  data-role=content -->
    <footer data-role="footer">
      <nav>
        <ul>
      <% if (authenticated) { %>
            <li id="user-nav"><img src="<%= gravatar %>" /><%= user %> </li>
            <li><a data-role="button" href="/logout">Log out</a></li>
      <% } %>
        </ul>
      </nav>
    </footer>
    </div><!-- data-role=page -->
    <!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script -->
    <script src="/javascripts/lib/jquery-1.7.1.min.js"></script>
    <script src="https://browserid.org/include.js"></script>
    <script src="/javascripts/browserid.js"></script>
    <script src="/javascripts/lib/jquery.mobile-1.0/jquery.mobile-1.0.min.js"></script>

    <!-- // TODO include.js should bring winchan, etc -->
    <script src="<%= cream_host %>/javascripts/lib/winchan.js"></script>
    <script src="<%= cream_host %>/include.js"></script>
<script>

$(document).ready(function () {

  console.info('hey');
  console.info(WinChan);

$('#winning').click(function (event) {
  event.preventDefault();

  navigator.payz('66600', ['VISA'], 
                function (reciept) { console.info(reciept); }, 
                function (error) { console.error(error); });
  });
});

</script>
  <% for (var i=0; i < page_scripts.length; i++) { %>
    <script src="<%= page_scripts[i] %>"></script>
  <% } %>
  </body>
</html>
