<h2>Make a Payment</h2>
<p><%= requestorEmail %> has requested <%= display_amount %>.</p>
<form id="make-payment" method="POST">

  <div data-role="fieldcontain">
    <label for="amount-dollar">Amount:</label>
    <input type="hidden" id="amount" name="amount" value="<%= amount %>" />
    $<input type="number" id="amount-dollar" name="amount-dollar" value="<%= Math.floor(amount / 100)%>" size="3" />
    .<input type="number" id="amount-cents" name="amount-cents" value="<%= amount % 100 %>" size="2" />
  </div>
  <div data-role="fieldcontain">
    <label for="requestorEmail">Pay to</label>
    <input type="text" name="requestorEmail" value="<%= requestorEmail %>" />
  </div>
  <button>Pay <%= requestorEmail %></button>
</form>
<form id="make-reciept" method="POST" action="/reciept">
  <input type="hidden" name="actual_amount" value="" />
  <input type="hidden" name="currency" value="" />
  <input type="hidden" name="date" value="" />
  <input type="hidden" name="merchant_email" value="" />
  <input type="hidden" name="payment_type" value="" />
  <input type="hidden" name="transaction_id" value="" />
</form>
<div id="" class="hidden">
  <h3>Thanks!</h3>
  <p>Thanks for making your payment.</p>
</div>
<%
page_scripts = ['/javascripts/pay.js'];
%>