<h1>Pay</h1>
<p>Amount: <b id="amount"></b></p>
<p>Reason: <span id="description"></span></p>
<p><strong id="reciever"></strong> accepts:
  <ol id="payment-choices">
    <!-- TODO base on accepted type -->
    <% 
       for (i in existing_methods) {
         pay_meth = existing_methods[i];
         if (pay_meth.type == 'IOU') {
    %>
      <li><input type="radio" id="payment<%= i %>" name="payment" value="<%= pay_meth.type %>_<%= i %>" /> <label for="payment<%= i %>">I Owe You</label></li>
    <% } else if (pay_meth.type.toUpperCase() == 'VISA') { %>
      <li><input type="radio" id="payment<%= i %>" name="payment" value="<%= pay_meth.type  %>_1" /> <label for="payment<%= i %>"><%= pay_meth.type  %></label></li>
    <% } else { %>
      <pre><code><%- util.inspect(pay_meth) %></code></pre>a
    <% } %>
  <% } %>

    <li><a id="add-payment-method-button" href="/add-payment-method" data-role="button">[+] Add a Payment method</a></li>
  </ol>
</p>
<div id="login-form">
  <% if (user) { %>
    <p>Logged in as <span class="email-address"><%= user %></span></p>
  <% } else { %>
    <form action="">
      <p>DEMO Gawds... Sign in</p>
      <button class="browserid">Sign in</button>
    </form>
  <% } %>
</div>
<div id="existing-payment">
  <%- partial('existing_payment_methods') %>
</div>
_
<button id="pay">Pay</button>
_
<script>
/* Un-comment to Automate for develping second step of wizard
window.addEventListener('load', function () {
  $('#add-payment-method-button').click();
});
*/
</script>